.ngdialog.userdepartment .ngdialog-content{width : 450px;background: #ffffff;}
.ngdialog.userdepartmenttree .ngdialog-content{width : 450px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.userDepartmentgrid {
    /*width: 300px;*/
    height: 384px;
}

.userDepartmentgrid .ui-grid-header{
    background: #8775A7;
}
.userDepartmentgrid .ui-grid-top-panel{
    background: #8775A7;
}
.userDepartmentgrid .ui-grid-top-panel-background{
    background: #8775A7;
}
.userDepartmentgrid .ui-grid-header-cell{
    color:#ffffff;
}
.userDepartmentgrid .ui-grid-header-cell-label{
    color:#ffffff;
}