.ngdialog.iconbasketload .ngdialog-content{width : 850px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.iconbasketloadedgrid {
    /*width: 800px;*/
    height: 384px;
}

.iconbasketloadedgrid .ui-grid-header{
    background: #1BA39C;
}
.iconbasketloadedgrid .ui-grid-top-panel{
    background: #1BA39C;
}
.iconbasketloadedgrid .ui-grid-top-panel-background{
    background: #1BA39C;
}
.iconbasketloadedgrid .ui-grid-header-cell-label{
    color:#ffffff;
}