.ngdialog.sysprivilege .ngdialog-content{width : 600px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.sysModelgrid {
    /*width: 300px;*/
    height: 384px;
}

/*json editor*/
.wrapper {
    margin: 50px auto;
    width: 1000px;
}

.col {
    float: left;
    width: 50%
}

.pdL4 {
    padding-left: 20px;
}

.sysPrivilegeGrid .ui-grid-header{
    background: #E26A6A;
}
.sysPrivilegeGrid .ui-grid-top-panel{
    background: #E26A6A;
}
.sysPrivilegeGrid .ui-grid-top-panel-background{
    background: #E26A6A;
}
.sysPrivilegeGrid .ui-grid-header-cell{
    color:#000000;
}
.sysPrivilegeGrid .ui-grid-header-cell-label{
    color:#ffffff;
}