.ngdialog.sysrole .ngdialog-content{width : 500px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.sysModelgrid {
    /*width: 300px;*/
    height: 384px;
}

.sysRoleGrid .ui-grid-header{
    background: #8775A7;
}
.sysRoleGrid .ui-grid-top-panel{
    background: #8775A7;
}
.sysRoleGrid .ui-grid-top-panel-background{
    background: #8775A7;
}
.sysRoleGrid .ui-grid-header-cell{
    color:#ffffff;
}
.sysRoleGrid .ui-grid-header-cell-label{
    color:#ffffff;
}