
.ngdialog.amassetmangementlist .ngdialog-content{width : 450px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.amassetmangementlistgrid {
    /*width: 300px;*/
    height: 384px;
}

.amassetmangementlistgrid .ui-grid-header{
    background: #578ebe;
}
.amassetmangementlistgrid .ui-grid-top-panel{
    background: #578ebe;
}
.amassetmangementlistgrid .ui-grid-top-panel-background{
    background: #578ebe;
}
.amassetmangementlistgrid .ui-grid-header-cell{
    color:#000000;
}
.amassetmangementlistgrid .ui-grid-header-cell-label{
    color:#ffffff;
}

