.ngdialog.iconbasketloadlist .ngdialog-content{width : 950px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.iconbasketloadlistgrid {
    /*width: 800px;*/
    height: 384px;
}

.iconbasketloadlistgrid .ui-grid-header{
    background: #1BA39C;
}
.iconbasketloadlistgrid .ui-grid-top-panel{
    background: #1BA39C;
}
.iconbasketloadlistgrid .ui-grid-top-panel-background{
    background: #1BA39C;
}
.iconbasketloadlistgrid .ui-grid-header-cell-label{
    color:#ffffff;
}

.iconbaketsoucelistgrid {
    /*width: 800px;*/
    height: 384px;
}

.iconbaketsoucelistgrid .ui-grid-header{
    background: #F2784B;
}
.iconbaketsoucelistgrid .ui-grid-top-panel{
    background: #F2784B;
}
.iconbaketsoucelistgrid .ui-grid-top-panel-background{
    background: #F2784B;
}
.iconbaketsoucelistgrid .ui-grid-header-cell-label{
    color:#ffffff;
}
.iconbaketsoucelistgrid .ui-grid-header-cell{
    color:#ffffff;
}

.icon-hand{
    cursor: pointer;
}