
.ngdialog.sysmodel .ngdialog-content{width : 500px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.sysModelgrid {
    /*width: 300px;*/
    height: 384px;
}

.sysModelgrid .ui-grid-header{
    background: #95A5A6;
}
.sysModelgrid .ui-grid-top-panel{
    background: #95A5A6;
}
.sysModelgrid .ui-grid-top-panel-background{
    background: #95A5A6;
}
.sysModelgrid .ui-grid-header-cell{
    color:#000000;
}
.sysModelgrid .ui-grid-header-cell-label{
    color:#ffffff;
}