.ngdialog.iconbasketloadlist .ngdialog-content{width : 850px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.iconbasketloadlistgrid {
    /*width: 800px;*/
    height: 384px;
}

.iconbasketloadlistgrid .ui-grid-header{
    background: #1BA39C;
}
.iconbasketloadlistgrid .ui-grid-top-panel{
    background: #1BA39C;
}
.iconbasketloadlistgrid .ui-grid-top-panel-background{
    background: #1BA39C;
}
.iconbasketloadlistgrid .ui-grid-header-cell-label{
    color:#ffffff;
}