
.ngdialog.amassetmangementadd .ngdialog-content{width : 450px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.amassetmangementaddgrid {
    /*width: 300px;*/
    height: 384px;
}

.amassetmangementaddgrid .ui-grid-header{
    background: #578ebe;
}
.amassetmangementaddgrid .ui-grid-top-panel{
    background: #578ebe;
}
.amassetmangementaddgrid .ui-grid-top-panel-background{
    background: #578ebe;
}
.amassetmangementaddgrid .ui-grid-header-cell{
    color:#000000;
}
.amassetmangementaddgrid .ui-grid-header-cell-label{
    color:#ffffff;
}

