
.ngdialog.sysuser .ngdialog-content{width : 450px;background: #ffffff;}


.ngdialog.sysuserjson .ngdialog-content{width : 800px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.sysusergrid {
    /*width: 300px;*/
    height: 384px;
}

.sysusergrid .ui-grid-header{
    background: #578ebe;
}
.sysusergrid .ui-grid-top-panel{
    background: #578ebe;
}
.sysusergrid .ui-grid-top-panel-background{
    background: #578ebe;
}
.sysusergrid .ui-grid-header-cell{
    color:#000000;
}
.sysusergrid .ui-grid-header-cell-label{
    color:#ffffff;
}
/*�Զ��иߣ��Զ�����*/
/*.sysusergrid .ui-grid-row{*/
    /*height: auto !important;*/
/*}*/
/*.sysusergrid .ui-grid-cell{*/
    /*height: auto !important;*/
/*}*/

/*.sysusergrid.wrap {*/
    /*white-space: normal;*/
/*}*/

