
.ngdialog.ambudgetmanagement .ngdialog-content{width : 450px;background: #ffffff;}

.ambudgetmanagementid {
    /*width: 300px;*/
    height: 384px;
}

.ambudgetmanagementid .ui-grid-header{
    background: #578ebe;
}
.ambudgetmanagementid .ui-grid-top-panel{
    background: #578ebe;
}
.ambudgetmanagementid .ui-grid-top-panel-background{
    background: #578ebe;
}
.ambudgetmanagementid .ui-grid-header-cell{
    color:#000000;
}
.ambudgetmanagementid .ui-grid-header-cell-label{
    color:#ffffff;
}
