.ngdialog.assetsmanagementscrap .ngdialog-content{width : 700px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.amassetmangementscrapgrid {
    /*width: 300px;*/
    height: 384px;
}

.amassetmangementscrapgrid .ui-grid-header{
    background: #c44e30;
}
.amassetmangementscrapgrid .ui-grid-top-panel{
    background: #c44e30;
}
.amassetmangementscrapgrid .ui-grid-top-panel-background{
    background: #c44e30;
}
.amassetmangementscrapgrid .ui-grid-header-cell{
    color:#c44e30;
}
.amassetmangementscrapgrid .ui-grid-header-cell-label{
    color:#ffffff;
}

