.ngdialog.am-budgetlist .ngdialog-content{width : 450px;background: #ffffff;}

.jquery-notific8-container.top { top: 60px; }

.sysModelgrid {
    /*width: 300px;*/
    height: 384px;
}
.icon-hand{
    cursor: pointer;
}
.am-budgetlistgrid .ui-grid-header{
    background: #578ebe;
}
.am-budgetlistgrid .ui-grid-top-panel{
    background: #578ebe;
}
.am-budgetlistgrid .ui-grid-top-panel-background{
    background: #578ebe;
}
.am-budgetlistgrid .ui-grid-header-cell{
    color:#ffffff;
}
.am-budgetlistgrid .ui-grid-header-cell-label{
    color:#ffffff;
}
