.ngdialog.ambudgetlist .ngdialog-content{width : 450px;background: #ffffff;}
.ngdialog.ambudgtlistdetail .ngdialog-content{width : 1200px;background: #ffffff;margin-top: -120px;}

.jquery-notific8-container.top { top: 60px; }

.am-budgetlistgrid {
    /*width: 300px;*/
    height: 384px;
}
.am-soucelistgrid {
    /*width: 300px;*/
    height: 350px;
}

.icon-hand{
    cursor: pointer;
}
.am-budgetlistgrid .ui-grid-header{
    background: #578ebe;
}
.am-budgetlistgrid .ui-grid-top-panel{
    background: #578ebe;
}
.am-budgetlistgrid .ui-grid-top-panel-background{
    background: #578ebe;
}
.am-budgetlistgrid .ui-grid-header-cell{
    color:#ffffff;
}
.am-budgetlistgrid .ui-grid-header-cell-label{
    color:#ffffff;
}


/*自动行高，自动换行*/
.am-soucelistgrid .ui-grid-row{
height: auto !important;
}
.am-soucelistgrid .ui-grid-cell{
height: auto !important;
}
.souce-cell-wrap {
    white-space: normal;
}
.am-soucelistgrid .ui-grid-header{
    background: #f3cc39;
}
.am-soucelistgrid .ui-grid-top-panel{
    background: #f3cc39;
}
.am-soucelistgrid .ui-grid-top-panel-background{
    background: #f3cc39;
}
.am-soucelistgrid .ui-grid-header-cell{
    color:#ffffff;
}
.am-soucelistgrid .ui-grid-header-cell-label{
    color:#ffffff;
}